<a href="/movies">Go back</a>
<img src="{{movie.image}}" alt="" />
<h3>{{movie.title}}</h3>
<h4>Director: {{movie.director}}</h4>

<ul>
  <li><em>Stars</em></li>
  <li>{{movie.stars}}</li>
</ul>

<p>{{movie.description}}</p>

<p>{{movie.showtimes}}</p>